<style>
  .logo {
    background-color: #1c76c5;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    display: inline-block;
    border-radius: 88.5px;
  }

  .logo-a {
    color: #1a242f;
  }

  .logo-a:hover {
    text-decoration: none;
  }

  .navbar {
    display: inline-block;
    padding-left: 400px;
  }

  .about-us, .contact-us {
    margin-right: 30px;
    transition: text-decoration 0.15s;
    transition: opacity 0.15s;
  }

  .contact-us:hover,
  .about-us:hover {
    text-decoration: underline;
    opacity: 0.6;
  }


</style>

<div>
  <div class="logo">
   <a href="/" class="logo-a">Northern Cape Tours</a>
  </div>
  <div class="navbar">
    <a href="http://127.0.0.1:8000/about-us/" class="about-us">About us</a>
    <a href="http://127.0.0.1:8000/contacts/" class="contact-us">Contact us</a>
  </div>
</div>


<hr>